$red: #fc9c9c;
$dark-blue: #454c62;
$offwhite: #e0e0e0;
$green: #32c994;
$blue: #478cbf;

.background-red {
  background-color:$red;
}
.background-blue {
  background-color:$blue;
}
.background-green{
  background-color:$green;
}
.background-offwhite{
  background-color:$offwhite;
}
.background-dark-blue{
  background-color: $dark-blue;
}
