@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,900');
$sans-serif: 'Source Sans Pro', sans-serif;

body {
  font-family: $sans-serif;
  color: #242424;
}

.text-shadow {
  text-shadow: 0.5px 0.7px 1px rgba(0,0,0,.38);
}

.knockout {
  color: white;
}
